# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
env/

# Pytest cache
.pytest_cache/

# Django stuff:
*.sqlite3

# VS Code
.vscode/

# Logs
*.log
